<app-header></app-header>
<ion-content class="ion-padding">
    <p class="ion-padding">
        Please provide the email address and booking reference that you used when you have ....
    </p>
    <ion-list>
        <ion-item lines="none" class="input">
            <ion-icon slot="end" name="mail-outline"></ion-icon>
            <ion-input type="text" placeholder="ٍemail de reservation" required></ion-input>
        </ion-item>
        <ion-item lines="none" class="input">
            <ion-icon slot="end" name="key-outline"></ion-icon>
            <ion-input placeholder="Reference de Reservation" type="text" required></ion-input>
        </ion-item>
    </ion-list>
</ion-content>
