<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/login" color="primary"></ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-center">Forgot your password?</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" novalidate>
        <p class="ion-padding">
            Please provide the email address that you used when you signed
            up for your Tranfacile account.
        </p>
        <ion-item lines="full">
            <ion-label position="floating">Email</ion-label>
            <ion-input formControlName="email" type="email" required></ion-input>
        </ion-item>
        <ion-row class="error ">
            <ion-icon *ngIf="formErrors.email" name="information-circle-outline"></ion-icon>
            <small *ngIf="formErrors.email">{{formErrors.email}}&#42;</small>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button mode="ios" type="submit" color="success" expand="block">Send</ion-button>
            </ion-col>
        </ion-row>
    </form>
</ion-content>
