.header {
  height: 200px;
  width: 100%;
}
.img-pos {
  width: 100%;
  height: 200px;
}
.input {
  width: 80%;
  padding: 0.5px 1px;
  margin-left: 10%;
  display: inline-block;
  border-radius: 10px ;
  box-sizing: border-box;
  border : 1px solid;
  border-color: var(--ion-color-primary);
}

ion-item {
  --ion-background-color: var(--ion-color-light-tint); /* Chrome 10-25, Safari 5.1-6 */
}
.padding{
  overflow: hidden;
}
ion-icon {
  background: var(--ion-color-success);
  color: #FFFFFF;
  padding: 4px;
  border-radius: 12px;
}
ion-button {
  width: 80%;
  margin-left: 10%;
  border-radius: 10px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}
ion-menu-button{
  --color-hover : #FFFFFF;
  --background-focused : blue;
  --background :  #FFFFFF;
  --border-radius: 50px;
}
h3{
  font-weight: bold;
  font-family: 'Josefin Sans', sans-serif;
  margin-bottom: 0px;
  display: inline-block;
  vertical-align: middle;
}
.alert-danger{
  width: 80%;
  margin-left: 10%;
}
