ion-tab-bar {
  --background: #f1f5f8;
  background: #f1f5f8;
  padding: 0 10px;
}
.custom-font{

}
ion-label{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}
mat-icon{
  font-size: 32px;
}
