<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="booking">
            <clr-icon size="32" shape="search"></clr-icon>
            <ion-label>Recherche</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="favorites-routes">
            <clr-icon size="32" shape="star" class="is-solid"></clr-icon>
            <ion-label>Favoris</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="ticket">
            <clr-icon size="32" shape="qr-code" class="is-solid"></clr-icon>
            <ion-label>Ticket</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="profile">
            <clr-icon size="32" shape="user" class="is-solid"></clr-icon>
            <ion-label>Profil</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
