<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap" rel="stylesheet">

<ion-header class="ion-no-border">
    <ion-toolbar>
        <div class="back-circle"></div>
        <ion-title class="ion-text-center custom-font">{{"Connexion" | translate }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
    <div class="padding">
        <div class="logo">
            <ion-img src="../../assets/img/logo.png"></ion-img>
        </div>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
            <ion-item>
                <ion-icon color="primary" name="mail-outline" slot="start"></ion-icon>
                <ion-input class="custom-font" formControlName="username" type="text" [placeholder]="'username' | translate" required></ion-input>
                <ion-icon *ngIf="formLoginErrors.username" class="error" name="alert-circle" slot="end"></ion-icon>
            </ion-item>
            <small class="error ion-padding" *ngIf="formLoginErrors.username">
                {{formLoginErrors.username}}&#42;</small>
            <ion-item>
                <ion-icon color="primary" name="lock-closed-outline" slot="start"></ion-icon>
                <ion-input class="custom-font" formControlName="password" type="password" placeholder="Mot de passe" required></ion-input>
                <ion-icon *ngIf="formLoginErrors.password" class="error" name="alert-circle" slot="end"></ion-icon>
            </ion-item>
            <small class="error ion-padding " *ngIf="formLoginErrors.password">{{formLoginErrors.password}}&#42;</small>
            <ion-item lines="none" *ngIf="isLoginFailed" class="error">
                <ion-icon color="alert" name="sad-outline" slot="start"></ion-icon>
                {{'Login failed' | translate}} {{ errorMessage }}
            </ion-item>
            <ion-item lines="none" *ngIf="isLoggedIn" class="ok">
                <ion-icon color="successful" slot="start" name="happy-outline"></ion-icon>
                Logged in as {{ roles  }}.
            </ion-item>

<!--            <ion-item lines="none">-->
<!--                <ion-button slot="end" fill="clear" (click)="forgotPwdPage()">Mot de passe oublié ?</ion-button>-->
<!--            </ion-item>-->

            <ion-toolbar>
                <p class="ion-text-center custom-font"><a routerLink="/forgot-password">Mot de passe oublié ?</a></p>
            </ion-toolbar>


            <div class="container-form-btn">
                <button type="submit" [disabled]="!loginForm.valid" class="form-btn custom-font">
                    Connexion
                </button>
            </div>
            <ion-toolbar>
                <p class="ion-text-center custom-font">Vous n'avez pas encore un compte? <a routerLink="/register">S'inscrire</a></p>
            </ion-toolbar>
<!--            <div class="container-form-btn">-->
<!--                <button (click)="registerPage()" class="form-btn custom-font">-->
<!--                    Inscription-->
<!--                </button>-->
<!--            </div>-->
            <!-- Inscription -->

<!--            <ion-button color="success" expand="block" shape="round" (click)="registerPage()">Inscription</ion-button>-->
        </form>
        <span class="divider line one-line custom-font">Où connectez-vous avec </span>
    </div>
    <div class="flex">
        <ion-button class="custom-font" color="facebook" shape="round" >
            <ion-icon slot="start" name="logo-facebook"></ion-icon>
            Facebook
        </ion-button>
        <ion-button class="custom-font"  color="google" shape="round" >
            <ion-icon slot="start" name="logo-google"></ion-icon>
            Google
        </ion-button>
    </div>
</ion-content>
