<app-header></app-header>
<ion-content>
  <!--    <ion-card>-->
  <!--        <ion-card-header color="primary"><strong>TechnoGM</strong></ion-card-header>-->

  <!--        <ion-card-content>-->
  <!--            <ion-img src="../../assets/img/logo.png"></ion-img>-->
  <!--            <ion-list>-->
  <!--                <ion-item><p>Transfacile is a booking platform... </p></ion-item>-->
  <!--            </ion-list>-->
  <!--            <ion-button shape="round" expand="block">more about us</ion-button>-->
  <!--        </ion-card-content>-->
  <!--    </ion-card>-->
  <img src="../../../assets/img/book_tickets.png">
  <div class="ion-padding">
    <h1 class=" ion-text-left">TransFacile</h1>
    <h3 class="ion-text-capitalize ">Mot de bienvenue</h3>
    <p class="ion-text-wrap">
      <b>Cher Passager,</b><br>
      C'est avec immense plaisir que nous vous accueillerons sur notre application TransFacile.<br>
      <b>TransFacile</b> est une application mobile destinée aux usagers du transport public.Elle vise à faire vivre aux citoyens l’expérience d'un déplacement urbain rapide, simple, pratique et sûr.<br>
      Le voyageur peut réserver et payer son ticket de transport directement via son smartphone et avoir une idée sur les disponibilités, les horaires et le prix de chaque voyage,
      ainsi que l’itinéraire à suivre pour arriver à sa destination en utilisant <a href="/https://www.google.com/maps">Google Maps</a>.<br>
      <b>Nous vous souhaitons une excellente journée</b>
    </p>
  </div>

</ion-content>
