ion-header{
  ion-toolbar{
    --background: #f6f6f6;
    padding: 0px;
    ion-button{
      margin-left: 0px;
    }
  }
}
ion-content {
  --background: #f6f6f6;
  h5{
    margin-top: 10px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
  }
}
mat-card{
  margin-bottom: 16px;
  mat-card-header{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    color: #0d0d0d;
  }
  mat-list-option{
    font-family: 'Josefin Sans', sans-serif;
  }
  
}
ion-item{
  --background: #f6f6f6;
  h1{
    font-family: "Josefin Sans", sans-serif;
    color: var(--ion-color-primary);
    margin-bottom: -20px;
  }
  p{
    font-family: "Josefin Sans", sans-serif;
  }
}

.mat-line{
  font-family: "Josefin Sans", sans-serif;
}
h1{
  font-weight: bolder;
}

 .mat-button {
   margin-left: 60%;
 }
 .mat-card-header{
   margin-left: 0%;
 }
 .full-width{
   width: 100%;
 }
//mat-grid-tile {
//  background: lightblue;
//}

