<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Details" defaultHref="/tabs/booking" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-avatar slot="end">
      <ion-img src="../../../assets/img/profile.png"></ion-img>
    </ion-avatar>
  </ion-toolbar>
</ion-header>
<ion-content>

  <div class="ion-padding">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Credit card details</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-card-subtitle>Select your card</mat-card-subtitle>
        <mat-selection-list #cards>
          <mat-list-option  color="primary" *ngFor="let card of listOfCards" [value]="card">
            <img matListAvatar [src]="card.path">
            {{card.type}}
          </mat-list-option>
        </mat-selection-list>
        <div class="ion-padding-top">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Name on card</mat-label>
          <input matInput placeholder="" type="text"
                 autocomplete="off" required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Card Number</mat-label>
          <input matInput type="number"
                 autocomplete="off" required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Expire date</mat-label>
          <input matInput [matDatepicker]="picker" (focus)="picker.open()" readonly>
        </mat-form-field>
        <mat-datepicker #picker></mat-datepicker>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>CVC</mat-label>
          <input matInput type="number" max="4"
                 autocomplete="off" required>
        </mat-form-field>
        </div>
      </mat-card-content>
      <mat-action-row>
        <button mat-button color="primary" >Confirm Payment</button>
      </mat-action-row>
    </mat-card>


  </div>
  <ion-item>
    <h1>Standard</h1>
  </ion-item>
  <ion-item lines="none">
    <p>
      Dans la mesure de sureté de vos ticket veuillez noter que ces derniers ne seront plus remboursable au déla de 24h du date de
      reservations.
    </p>
  </ion-item>
</ion-content>
