<app-header></app-header>
<ion-content>
<!--    <ion-card>-->
<!--        <ion-card-header color="primary"><strong>TechnoGM</strong></ion-card-header>-->

<!--        <ion-card-content>-->
<!--            <ion-img src="../../assets/img/logo.png"></ion-img>-->
<!--            <ion-list>-->
<!--                <ion-item><p>Transfacile is a booking platform... </p></ion-item>-->
<!--            </ion-list>-->
<!--            <ion-button shape="round" expand="block">more about us</ion-button>-->
<!--        </ion-card-content>-->
<!--    </ion-card>-->
    <img src="../../../assets/img/logo_TechnoGM.png">
    <div class="ion-padding">
        <h1 class="ion-text-left">A Propos </h1>
        <p class="ion-text-wrap">En Tunisie, depuis ces dernières années,
            le monde des startups Tunisiennes est florissant et le grand public se passionne de plus en plus pour l’innovation,
            la créativité et l’esprit d’entreprise. On a pu constater ainsi une forte augmentation des créations de startups depuis fin 2017,
            notamment dans le secteur de l’e-commerce et de la Technologie.<br>
            <b>TechnoGM</b> est une startup innovante créée en 2019, porté par le gouvernement Tunisien, qui est désormais un franc succès dans le domaine développent web et mobile.
            En 2020, la jeune startup <b>technoGM</b> a bénéficié d’un label <b>Startup</b> auprès du ministère des technologies et de la communication par le programme <b>STARTUP ACT</b>.
        </p>
    </div>
</ion-content>
